*dist-newstyle
*bower_components/
*node_modules/
*.parcel-cache/
*.pulp-cache/
*output/
**/dist/*
*output-es/
*generated-docs/
*.psc-package/
*.psc*
*.purs-repl
*.psa*
*.spago
result
.terraform*
*.lake
terraform.tfstate*
config.tf.json
!rectify-frontend/dist/index.html